/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
body {
  text-align: center;
  margin: 0px;
}

form {
  color: white;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.parallaxHeader {
  font-size: 100px;
  font-family: fantasy;
  color: rgba(60, 63, 68, 1);
  text-shadow: 2px 2px white;
}

.parallaxSubHeader {
  color: rgba(255, 255,255, 0.8);
  font-size: 50px;
  font-family: fantasy;
  text-shadow: 2px 2px black;
}

.homepage {
  background-image: url("sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("ocean.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxPage-section1 {
  background: lightcoral;
  height: 800px;
}

.section1-Header {
  font-size: 60px;
  font-family: "Brush Script MT";
  color: rgba(29, 29, 30, 1);
  font-weight: bold;
  border-bottom: 4px solid rgba(47, 47, 48, 1);
}

.section1-Paragraph {
  font-size:20px;
  font-family: Verdana;
  text-indent: 5vw;
  text-align: justify;
  margin-left: 10vw;
  margin-right: 10vw;
  color: rgba(49, 50, 51, 1);
}

.active {
  background-color: green;
  color: black;
}

.score {
  color: white;
  font-size: 18px;
  text-align: center;
}

.navbarP5 {
  overflow: hidden;
  background-color: rgba(66, 67, 68, 1);
}

.navbarHome{
  overflow:hidden;
  background-color: transparent;
}

.navbarHome a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
}

.navbarP5 a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
}

.navbarPar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
}

.navbarPar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
}

.scrollDown {
  overflow: hidden;
  background-color: rgba(96, 96, 96, 0.8);
  position: fixed;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.parallaxButton {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 4px 16px;
  background-color: black;
  text-decoration: none;
  font-family: "Courier New";
  margin: 0;
}

.parallaxButton:hover {
  color:black;
  background-color: transparent;
  text-decoration: none;
  outline: 1px solid black;
}

.navbarHome a:hover, .navbarPar a:hover, .navbarP5 a:hover,
.dropdown:hover, .dropbtn, .dropbtn:focus {
  background-color: lightgray;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
